/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%; /* Adjust for mobile responsiveness */
  max-width: 400px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 0px;
  text-transform: uppercase;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.input-section input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.add-btn, .edit-btn {
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  flex: 1; /* Buttons take equal width */
}

.add-btn {
  background-color: #b3b3b3;
  color: #fff;
}

.edit-btn {
  background-color: #d9534f;
  color: #fff;
}

.grocery-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  max-height: 200px;
}

.grocery-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.grocery-list .item {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.grocery-list input[type="checkbox"] {
  accent-color: #d9534f;
  transform: scale(1.2); /* Larger checkbox for mobile */
}

.task {
  width: 100%;
  margin-right: 20px;
  margin-left: 10px;
  text-align: start;
}

[contenteditable="true"] {
  outline: none;
}

.grocery-list span {
  font-size: 16px;
}

.finished-btn, .edit-task-btn {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.new-finished-btn, .edit-task-btn {
  display: none;
}
.new-edit-task-btn{
  display:block;
}


.finished-item-btn, .clear-item-btn{
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
  display: none;
}

.finished-grocery-list {
  max-height: 200px;
  overflow: auto;
  display: none;
}